@font-face {
    font-family: Stick;
    src: url("https://fonts.googleapis.com/css2?family=Stick");
}

:root {
    --r-background-color: #e7e7e7;
    --r-main-color: #012d3f;
    --r-heading-color: #0DD5E0;
    --r-heading-font: Stick;
}

.controls-arrow {
    color: var(--r-heading-color);
}

section.lesson::before {
    content: url("../images/lesson.jpg");
}

.standard.slide-background.present {
    background-image: url("../images/background.png");
    background-size: cover;
}

.lesson.slide-background.present {
    background-image: none;
    background-color: #BB8181FF;
}

.transparency.slide-background.present {
    opacity: 0.20;
}

.big {
    font-size: 60px;
    color: #012d3f;
}

.red {
    color: #111012;
}

img {
    border-radius: 10px;
}

.reveal .slide-number {
    font-size: var(--r-main-font-size);
}

.reveal .progress {
    color: var(--r-heading-color);
    height: 7px;
}

.slide-background.conclusion {
    background-image: linear-gradient(to top, #010409, #1e3342, #25647a, #1a9bb1, #0dd5e0);
}

.vertical-align-middle > p {
    vertical-align: middle;
}

.vertical-align-middle > p > span {
    vertical-align: middle;
    margin: 0;
}

.vertical-align-middle > p > span > img {
    vertical-align: middle;
    margin: 0;
}

.important-text > p {
    font-size: xxx-large;
    color: #012d3f;
}

.red {
    color: #b62c2c;
}

.small {
    font-size: small;
}

.medium {
    font-size: 38px;
}

.column.has-text-right > div > div.hdlist.small > table {
    margin-right: 0;
}

.column.has-text-left > div > div.hdlist.small > table {
    margin-left: 0;
}

h1 {
    display: none;
}

h2 {
    font-family : Aldrich;
    font-weight : 900;
    color: #ffffff;
}
